---
import { Link } from "@components/atoms/Link";

import Chart from "@components/charts/Chart";
import Loader from "@components/Loader.astro";
import type { PanelProps } from "./types";

type Props = PanelProps;

const { title, paragraph, chart, externalLink } = Astro.props;
---

<div class="row align-items-top justify-content-between mb-5">
  <div class="col-lg-6 col-12">
    <h3 class="mb-3">
      {title}
    </h3>
    <p class="mb-4">{paragraph}</p>
  </div>
  <div class="col-12">
    {
      chart && (
        <Chart client:visible data={chart}>
          <div slot="fallback">
            <Loader />
          </div>
        </Chart>
      )
    }
    {
      externalLink && (
        <div class="mt-2">
          <Link
            label={externalLink.label}
            titleIcon={externalLink.titleIcon}
            url={externalLink.linkTo}
            openInNewTab={true}
          />
        </div>
      )
    }
  </div>
</div>
