---
import { NavigationLink } from "@components/molecules/NavigationLink";
import type { ArticleNavigationProps } from "./types";

type Props = ArticleNavigationProps;

const { previousArticle, previousLabel, nextArticle, nextLabel } = Astro.props;
---

<div class="row justify-content-between">
  {
    previousArticle && (
      <div class="col-12 col-lg-5">
        <NavigationLink
          label={previousLabel}
          title={previousArticle.title}
          linkTo={previousArticle.url}
          direction="previous"
        />
      </div>
    )
  }

  {
    nextArticle && (
      <div class="col-12 col-lg-5">
        <NavigationLink
          label={nextLabel}
          title={nextArticle.title}
          linkTo={nextArticle.url}
          direction="next"
        />
      </div>
    )
  }
</div>
