---
import { SectionContainer } from "@components/organisms/SectionContainer";
import { FullTextSearch } from "@components/react/SearchBar";
import type { SearchBarFragmentType } from "@graphql/query/search";

type Props = {
  block: SearchBarFragmentType;
};

const { block } = Astro.props;
const { lang } = Astro.locals;
---

<SectionContainer className="search-main lightgrey-bg-a3">
  <div class="row">
    <div class="col-12 g-0">
      <div
        class="search-main-content"
        role="search"
        aria-labelledby="searchHomeTitle"
      >
        <h2 id="searchHomeTitle" class="mb-5">{block.title}</h2>

        <FullTextSearch
          client:only="react"
          locale={lang}
          labelButton={block.labelButton}
          inputPlaceholder={block.inputPlaceholder}
          labelForAllResult={block.labelForAllResult}
          labelForNoResult={block.labelForNoResult}
        />
      </div>
    </div>
  </div>
</SectionContainer>
