---
import { Button } from "../../atoms/Button";

type Props = {
  title: string;
  paragraph: string;
  variant?: "light" | "dark" | "primary";
  labelButton?: string;
};
const { title, paragraph, labelButton, variant = "light" } = Astro.props;
const colorClass =
  variant === "dark" || variant === "primary" ? "text-white" : "";
const variantButton =
  variant === "primary"
    ? "outline-light"
    : variant === "dark"
      ? "dark"
      : undefined;
---

<div class=`text-container mb-4 mb-lg-0 ${colorClass}`>
  <h2 class="mb-3">
    {title}
  </h2>
  <div class="mb-4" set:html={paragraph} />
  {
    labelButton && (
      <div class="mt-5">
        <Button size="large" label={labelButton} variant={variantButton} />
      </div>
    )
  }
</div>
