---
import { ChipLink } from "@components/atoms/Chip";
import { DateTime } from "@components/atoms/DateTime";
import { Image } from "@components/atoms/Image";
import type { ImageProps } from "@components/atoms/Image/types";

export type CardEditorialInlineMiniProps = {
  title: string;
  description?: string;
  image: ImageProps;
  linkTo: string;
  category?: string;
  dateTime?: string;
};

type Props = CardEditorialInlineMiniProps;

const { title, description, image, linkTo, category, dateTime } = Astro.props;

const shouldShowFooter = category || dateTime;
---

<article
  class="it-card it-card-image it-card-height-full rounded shadow-sm border"
>
  <h3 class="it-card-title">
    <a href={linkTo}>{title}</a>
  </h3>

  <div class="it-card-image-wrapper">
    <div class="ratio ratio-16x9">
      <figure class="figure img-full">
        <Image {...image} />
      </figure>
    </div>
  </div>

  <div class="it-card-body">
    <p class="it-card-text">{description}</p>
  </div>

  {
    shouldShowFooter && (
      <footer class="it-card-related it-card-footer">
        {category && (
          <div class="it-card-taxonomy">
            <ChipLink linkTo={""} label={category} visuallyHidden="" disabled />
          </div>
        )}
        {dateTime && <DateTime className="it-card-date" value={dateTime} />}
      </footer>
    )
  }
</article>
