---
import { CardEditorialWithIcon } from "../../molecules/CardEditorialWithIcon";
import TextContainer from "../../molecules/TextContainer/TextContainer.astro";
import type { TextAndImageProps } from "./types";
import { Image } from "../../atoms/Image";
import { SplitContent } from "../../layout/SplitContent";

type Props = TextAndImageProps;

const {
  title,
  paragraph,
  labelButton,
  image,
  variant = "default",
  cards,
  labelCards,
} = Astro.props;

const textContainerVariant =
  variant === "big" || variant === "withBox" ? "primary" : undefined;
const textLabelColorClass =
  variant === "big" || variant === "withBox" ? "text-white" : undefined;

const leftColumns = variant === "big" ? 4 : 6;
const rightColumns = variant === "big" ? 8 : 5;
const background =
  variant === "big" ? "primary" : variant === "withBox" ? "dark" : "default";
---

<SplitContent
  leftColumns={leftColumns}
  rightColumns={rightColumns}
  alignItems={variant === "big" ? "top" : "center"}
  background={background}
>
  <TextContainer
    slot="left"
    title={title}
    paragraph={paragraph}
    labelButton={labelButton}
    variant={textContainerVariant}
  />
  <div class="ratio ratio-4x3" slot="right">
    <Image {...image} />
  </div>
  {
    cards && cards.length > 0 && (
      <div class="row align-item-center justify-content-between pt-5">
        <p class={`fw-semibold fs-6 text-uppercase ${textLabelColorClass}`}>
          {labelCards}
        </p>
        {cards.map((card) => (
          <div class="col-12 col-md-6 mb-3 mb-md-4 col-lg-4">
            <CardEditorialWithIcon {...card} />
          </div>
        ))}
      </div>
    )
  }
</SplitContent>
