---
import type { UseCaseCardProps } from "./types";
import { Image } from "@components/atoms/Image";
import { Topics } from "@components/molecules/Topics";

type Props = UseCaseCardProps;
const {
  title,
  paragraph,
  linkTo,
  image,
  listTopics,
  descriptionTitle,
  description,
  variant = "default",
} = Astro.props;
---

<style>
  @import "./style.scss";
</style>
<article
  class=`it-card it-card-profile ${variant==="big" && "it-card-big"} rounded shadow-sm border lightgrey-bg-a3`
>
  <div class="it-card-profile-header">
    <div class="it-card-profile-image ratio ratio-1x1">
      <figure class="figure img-full">
        <Image {...image} />
      </figure>
    </div>

    <div class="it-card-profile it-card-body">
      <div>
        <h4 class="it-card-profile-name">
          <a href={linkTo}>{title}</a>
        </h4>
        <p class="it-card-text">
          {paragraph}
        </p>
      </div>

      {
        listTopics && (
          <footer>
            <Topics {...listTopics} variant="column" />
          </footer>
        )
      }
    </div>

    {
      (descriptionTitle || description) && (
        <div class="it-card-profile it-card-body">
          <div>
            {descriptionTitle && (
              <h4 class="fw-semibold fs-6 text-uppercase mb-0">
                {descriptionTitle}
              </h4>
            )}
            <div class="it-card-text" set:html={description} />
          </div>
        </div>
      )
    }
  </div>
</article>
