---
import type { CardEditorialNewsProps } from "./types";

type Props = CardEditorialNewsProps;

const {
  title,
  description,
  imageUrl,
  imageAlt = "",
  linkTo,
  category,
  dateTime,
  formatDate,
  action,
} = Astro.props;
---

<article
  class="it-card it-card-image it-card-height-full rounded shadow-sm border"
>
  <h3 class="it-card-title">
    <a href={linkTo}>{title}</a>
  </h3>
  <div class="it-card-image-wrapper">
    <div class="ratio ratio-16x9">
      <figure class="figure img-full">
        <img src={imageUrl} alt={imageAlt} />
      </figure>
    </div>
  </div>
  <div class="it-card-body">
    <p class="it-card-text">{description}</p>
  </div>
  <footer class="it-card-related it-card-footer">
    <div class="it-card-taxonomy">
      <a href="#" class="it-card-category it-card-link"
        ><span class="visually-hidden">Categoria correlata: </span>{category}</a
      >
    </div>
    <time class="it-card-date" datetime={dateTime}>{formatDate}</time>
  </footer>
  <div class="it-card-footer" aria-label="Link correlati:">
    <a href="#" class="it-card-link">{action}</a>
  </div>
</article>
