---
import type { LinkProps } from "@components/atoms/Link/types";

type Props = LinkProps;
const { label, linkTo, disabled, icon, titleIcon } = Astro.props;
const finalHref = disabled ? undefined : linkTo;
const ariaDisabled = disabled ? "true" : "false";
---

<style>
  @import "./style.scss";
</style>
<li>
  <a
    class=`list-item icon-right mt-4 text-underline text-underline`
    href={finalHref}
    aria-disabled={ariaDisabled}
  >
    <span class="list-item-title-icon-wrapper">
      <span class="list-item-title text-white">{label}</span>
      {
        icon && (
          <svg class="icon icon-white">
            {titleIcon && <title>{titleIcon}</title>}
            <use href={`/bsi-svg/sprites.svg#${icon}`} />
          </svg>
        )
      }
    </span>
  </a>
</li>
