---
import { Badge } from "@components/atoms/Badge";
import { Button } from "@components/atoms/Button";

type Props = {
  title: string;
  paragraph: string;
  category: string;
  ctaLabel: string;
  labelButton: string;
};

const { title, paragraph, category, ctaLabel, labelButton } = Astro.props;
---

<style>
  @import "./style.scss";
</style>

<article class="it-card rounded shadow border p-5">
  <div class="row justify-content-between align-items-top mb-5">
    <div class="col-6">
      <h2>{title}</h2>
      <Badge variant="primary" label={category} />
    </div>
    <div class="col-6 text-end">
      <Button label={ctaLabel} />
    </div>
  </div>
  <div
    id="content-body"
    class="it-card-body p-0 content-collapsed font-serif"
    set:html={paragraph}
  />
  <div class="it-card-footer border-0 m-auto" aria-label="Espandi">
    <button id="toggle-btn" class="btn btn-icon text-primary text-uppercase"
      ><span>
        {labelButton}
      </span>
      <svg class="icon icon-sm icon-primary">
        <use href="/bsi-svg/sprites.svg#it-plus"></use>
      </svg>
    </button>
  </div>

  <script>
    function setupReadMore() {
      const btn = document.getElementById("toggle-btn");
      const content = document.getElementById("content-body");

      if (btn && content) {
        btn.addEventListener("click", () => {
          const isExpanded = content.classList.contains("content-expanded");

          if (!isExpanded) {
            content.classList.remove("content-collapsed");
            content.classList.add("content-expanded");
            btn.classList.add("visually-hidden");
          }
        });
      }
    }

    setupReadMore();
    document.addEventListener("astro:page-load", setupReadMore);
  </script>
</article>
