---
import { SplitContent } from "../../layout/SplitContent";
import TextContainer from "../../molecules/TextContainer/TextContainer.astro";
import type { UseCaseCardProps } from "../../molecules/UseCaseCard/types";
import UseCases from "../../molecules/UseCases/UseCases.astro";
import UseCaseContainer from "../UseCaseContainer/UseCaseContainer.astro";

type Props = {
  title: string;
  paragraph: string;
  labelButton: string;
  labelUseCases: string;
  useCases: UseCaseCardProps[];
};
const { title, paragraph, labelButton, labelUseCases, useCases } = Astro.props;
---

<style>
  @import "./style.scss";
</style>

<SplitContent leftColumns={5} alignItems="top">
  <TextContainer
    slot="left"
    title={title}
    paragraph={paragraph}
    labelButton={labelButton}
  />
  <div slot="right">
    <UseCases label={labelUseCases} items={useCases} />
  </div>
</SplitContent>
